body {
    font-family: "Courier New", monospace;
    background-color: #6d6691;
  }

  #message {
    width: 200px;
  }
  
  label {
    font-family: Consolas, monaco, monospace;
    margin-right: 5px;
  }
  
  input[type=text],
  input[type=password] {
    padding: 0.5rem;
    border: 1px solid #524c6c;
    border-radius: 0.7rem;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 15px;
  }
  
  input[type=text]:focus,
  input[type=password]:focus {
    border-color: #847bac;
    box-shadow: 0 0 0 2px #847bac;
  }
  
  .loginBtn {
    background-color: #ff7b47;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    border: 1px solid #d96b40;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
    width: 50%;
  }
  
  button:hover {
    background-color: rgb(249, 166, 133);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
  }
  
  button:disabled {
    opacity: 0.4;
    cursor: default;
  }
  
  .logout {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  
  .container {
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 40vw;
    padding: 2em;
    background-color: rgb(166, 159, 205);
  }

  .loginForm{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px;

  }
  
  .message {
    margin: 5px 0;
  }
  
  .username {
    font-weight: bold;
  }
  
  .clearfix {
    margin: 10px;
  }
  
  .loader-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #404040;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }